In [1]:
import pandas as pd
dictionary = {"name":["ceren","cemre","ceylin","canan","cemil"],
             "age":[27,26,76,12,None],
             "note":[745,85,88,15465,None]}

dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

     name   age     note
0   ceren  27.0    745.0
1   cemre  26.0     85.0
2  ceylin  76.0     88.0
3   canan  12.0  15465.0
4   cemil   NaN      NaN

In [2]:
head = dataframe1.head() 
print(head)

     name   age     note
0   ceren  27.0    745.0
1   cemre  26.0     85.0
2  ceylin  76.0     88.0
3   canan  12.0  15465.0
4   cemil   NaN      NaN

In [3]:
tail = dataframe1.tail()
print(tail)

     name   age     note
0   ceren  27.0    745.0
1   cemre  26.0     85.0
2  ceylin  76.0     88.0
3   canan  12.0  15465.0
4   cemil   NaN      NaN

In [4]:
print(dataframe1.columns)
print(dataframe1.info())
print(dataframe1.dtypes)

Index(['name', 'age', 'note'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   age     4 non-null      float64
 2   note    4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 248.0+ bytes
None
name     object
age     float64
note    float64
dtype: object

In [5]:
print(dataframe1.describe())

             age          note
count   4.000000      4.000000
mean   35.250000   4095.750000
std    28.016364   7585.854088
min    12.000000     85.000000
25%    22.500000     87.250000
50%    26.500000    416.500000
75%    39.250000   4425.000000
max    76.000000  15465.000000

In [6]:
print(dataframe1["name"]) 
print(dataframe1.loc[:, "age"])                      
dataframe1["yeni_future"] = [1,2,3,4,5]
print(dataframe1.loc[:2,"age"]) 
print(dataframe1.loc[:2, "name":"note"])                 
print(dataframe1.loc[::-1])

0     ceren
1     cemre
2    ceylin
3     canan
4     cemil
Name: name, dtype: object
0    27.0
1    26.0
2    76.0
3    12.0
4     NaN
Name: age, dtype: float64
0    27.0
1    26.0
2    76.0
Name: age, dtype: float64
     name   age   note
0   ceren  27.0  745.0
1   cemre  26.0   85.0
2  ceylin  76.0   88.0
     name   age     note  yeni_future
4   cemil   NaN      NaN            5
3   canan  12.0  15465.0            4
2  ceylin  76.0     88.0            3
1   cemre  26.0     85.0            2
0   ceren  27.0    745.0            1

In [7]:
print(dataframe1.loc[:, "age"])
print(dataframe1.loc[:2,"age"])

0    27.0
1    26.0
2    76.0
3    12.0
4     NaN
Name: age, dtype: float64
0    27.0
1    26.0
2    76.0
Name: age, dtype: float64

In [8]:
print(dataframe1.loc[:4, ["name","note"]])

     name     note
0   ceren    745.0
1   cemre     85.0
2  ceylin     88.0
3   canan  15465.0
4   cemil      NaN

In [9]:
print(dataframe1.loc[:,:"age"])

     name   age
0   ceren  27.0
1   cemre  26.0
2  ceylin  76.0
3   canan  12.0
4   cemil   NaN

In [10]:
filtre1 = dataframe1.age>35                           
dataframe1["bool"]= filtre1
print(dataframe1.loc[:,["age","bool"]])

    age   bool
0  27.0  False
1  26.0  False
2  76.0   True
3  12.0  False
4   NaN  False

In [11]:
type(filtre1)
filtrelenmis_data= dataframe1[filtre1] 
print(filtrelenmis_data)

     name   age  note  yeni_future  bool
2  ceylin  76.0  88.0            3  True

In [12]:
filtre2 = dataframe1.note>150
filtrelenmis_data2 = dataframe1[filtre2&filtre1] 
print(filtrelenmis_data2)

Empty DataFrame
Columns: [name, age, note, yeni_future, bool]
Index: []

In [13]:
import numpy as np
ortalama = dataframe1.note.mean()
print(ortalama)
ortlama_np= np.mean(dataframe1.note) 
print(ortlama_np)

4095.75
4095.75

In [14]:
dataframe1.dropna(inplace=True) 
dataframe1

     name   age     note  yeni_future   bool
0   ceren  27.0    745.0            1  False
1   cemre  26.0     85.0            2  False
2  ceylin  76.0     88.0            3   True
3   canan  12.0  15465.0            4  False

In [15]:
dataframe1.columns = [each.upper() for each in dataframe1.columns]
dataframe1.columns

Index(['NAME', 'AGE', 'NOTE', 'YENI_FUTURE', 'BOOL'], dtype='object')

In [16]:
dataframe1.columns = [ each.split(" ")[0]+"_"+each.split(" ")[1] if len(each.split(" "))>1 else each for each in dataframe1.columns]
dataframe1

     NAME   AGE     NOTE  YENI_FUTURE   BOOL
0   ceren  27.0    745.0            1  False
1   cemre  26.0     85.0            2  False
2  ceylin  76.0     88.0            3   True
3   canan  12.0  15465.0            4  False

In [17]:
data1 = dataframe1.head()     
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

     NAME   AGE     NOTE  YENI_FUTURE   BOOL
0   ceren  27.0    745.0            1  False
1   cemre  26.0     85.0            2  False
2  ceylin  76.0     88.0            3   True
3   canan  12.0  15465.0            4  False
0   ceren  27.0    745.0            1  False
1   cemre  26.0     85.0            2  False
2  ceylin  76.0     88.0            3   True
3   canan  12.0  15465.0            4  False

In [18]:
dataframe1["buyuk_yas"] = [each*2 for each in dataframe1.AGE]
dataframe1

     NAME   AGE     NOTE  YENI_FUTURE   BOOL  buyuk_yas
0   ceren  27.0    745.0            1  False       54.0
1   cemre  26.0     85.0            2  False       52.0
2  ceylin  76.0     88.0            3   True      152.0
3   canan  12.0  15465.0            4  False       24.0

In [19]:


def mlt(yas):
    return yas*2
dataframe1["apply_metodu"] = dataframe1.AGE.apply(mlt)
dataframe1

     NAME   AGE     NOTE  YENI_FUTURE   BOOL  buyuk_yas  apply_metodu
0   ceren  27.0    745.0            1  False       54.0          54.0
1   cemre  26.0     85.0            2  False       52.0          52.0
2  ceylin  76.0     88.0            3   True      152.0         152.0
3   canan  12.0  15465.0            4  False       24.0          24.0